{% extends 'base.html'%}

{% import 'macros.html' as macro%}


<!-- Content block -->
{% block content %}
<style>
  .intro {
    text-align: center;
    text-shadow: rgb(151, 137, 137);
    
  }
  body{
    background-image: url(download.jpeg);
  }
</style>
<div class="container">
<div class="intro">
  <h1><b><u>WELCOME TO NEWS COORP</u></b></h1><br>
  <h4><b><u>THE BEST PLACE TO GET YOUR TRUSTED NEWS SOURCES</u></b></h4>
</div>
  <div class="row">
      
          {{ macro.displayNewsList(news)}}
      
  


  </div>


</div>




{% endblock%}